
<div class="row">
  <div class="col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-8 col-xs-offset-2">

    <p>Checklist:</p>
    <p>1. Complete Profile</p>
    <p>2. Complete List of Friends</p>
    <p>3. Complete Interested Employers</p>

  </div>

</div>