<div class="row">
  <div id="application_instructions" style="text-align: center;">
    Pentalist makes getting a job easier using AI.

    <p style="text-align: left"> Currently, our system can only support a limited amount of users.
      As a result, we have restricted our platform to the following colleges:
    <ul style="text-align: left">
      <li>University of Pennsylvania</li>
    </ul>
    </p>


  </div>
</div>