<% provide(:title, "Forgot password") %>


<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(:password_reset, url: password_resets_path) do |f| %>

        <h3>Forgot password</h3>

        <label>
        <%= f.email_field :email, class: 'form-control' %>
        </label>
        <div class="label-text" > Email </div>

        <%= f.submit "Submit", class: "custom-btn" %>
    <% end %>
  </div>
</div>