
<p>Hi <%= @prospect.firstName %>,</p>

<p>
  Some of your friends have already joined pentalist and nominated you as one of the most impressive
  people they know. They also included reviews (probably very good ones) that you can use to apply for jobs.

  At pentalist are working at the intersection of natual language processing cognitive science and management
  to match students with employment opportunities. Read more on https://www.pentalist.org/about.

  You can signup at https://www.pentalist.org/signup.

  Thank you,
  The pentalist admin
</p>

