<div class="row">
  <div id="application_instructions">

    <% if submitted? %>
    <div class="alert" style="padding-bottom: 10px; text-align: center;">
      Your application was submitted succesfully. We will notify you
      when it gets approved.
      </div>


        <% else %>


  Make sure to complete these two steps before you apply for our beta program:
    <p>1. Fill out the profile </p>

    <div id="explanation">
      Try to answer the questions succintly. We use Natural Language Processing to
      parse our forms, and as a result all sentence constructs become irrelevant. The
      more direct and simple the answer, the more accurate is our profile of you.
    </div>




    <p>2. Define your cluster <b><%= @nr_of_people %>/5 </b>


      <div id="explanation">
      Who are your most impressive peers?
      Who is working on really interesting projects? Who would you start
      a company with? This information will help us place you in a cluster and understand
      better who you are. The higher the individuals in your cluster are rated, the higher
      your rating becomes. <p><b>
        NOTE: Your cluster can only be composed of people from your university and you
        need to use those people's univesity email address. If you dont know it check
        <a href=<%= @here %> target="_blank">here.</a>
      </b>
      </p>
      </div>



    </p>


        <%= button_to "Submit", submits_path, method: :post,
                    class:"custom-btn", style:'font-size:20px;'%>
      <%end%>


    </div>
  </div>

