@import "bootstrap-sprockets";
@import "bootstrap";

body {
  font-family: Verdana;
  font-size: 14px;
  width: 500px;
  margin: 40px auto 20px;
  color: #333
}

a {
  color: #0c8335 !important;
}

#wrapper {
  background-color: #ffffff;
  width: 500px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

#navb {

}

/* forms */
input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
}

input {
  height: auto !important;
}

/* http://blog.koalite.com/bbg/*/

.btn {
  color: #0c8335;
  background-color: #FFFFFF;
  border-color: #0c8335;
}

.btn:hover,
.btn:focus,
.btn:active,
.btn.active,
.open .dropdown-toggle.btn {
  color: #0c8335;
  background-color: #FDFCFF;
  border-color: #0c8335;
}

/* http://blog.koalite.com/bbg/*/

.btn:active,
.btn.active,
.open .dropdown-toggle.btn {
  background-image: none;
}

.btn.disabled,
.btn[disabled],
fieldset[disabled] .btn,
.btn.disabled:hover,
.btn[disabled]:hover,
fieldset[disabled] .btn:hover,
.btn.disabled:focus,
.btn[disabled]:focus,
fieldset[disabled] .btn:focus,
.btn.disabled:active,
.btn[disabled]:active,
fieldset[disabled] .btn:active,
.btn.disabled.active,
.btn[disabled].active,
fieldset[disabled] .btn.active {
  background-color: #FFFFFF;
  border-color: #59685d;
  color: #59685d;
}

.btn .badge {
  color: #FFFFFF;
  background-color: #f8fffa;
}

form label.error{
  font:10px Tahoma,sans-serif;
  color:#ED7476;
  margin-left:5px;
  display:inline;
}

textarea { resize: none; }
