hr {
  border: 0;
  height: 0;
  border-top: 1px solid rgba(89, 104, 93, 0.17);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  width: 370px;
}

h1 {
  font-weight: lighter;
  font-family: "Open Sans", Helvetica;
}

 a {
  text-decoration: none;
  color: #2d993e;
  font-family: "Open Sans", sans-serif;
}

#header a{
  //text-transform: uppercase;
  letter-spacing: -1px;
  font-size: 15px;
}

body {
  text-align: center;
}

 a:hover{
  color: #057c4c;
  text-decoration: underline;
}

.alert {
  padding-top: 25px;
  color: #0b29ed;
}

.alert-danger{
  color: red;
}

#footer {
  padding-top: 40px;

}

#footer a{
  color: black !important;
  font-size: 12px;
}

#footer a:hover{
  text-decoration: underline;
}

#header {

}

.navbar {


}

.custom-btn {
  margin-top:20px;
  background:none!important;
  border:none;
  padding:0!important;
  font: inherit;
  /*border is optional*/
  //border-bottom:1px solid #444;
  cursor: pointer;
  text-decoration: none;
  color:#2d993e;
}

.custom-btn:hover {
  color: #057c4c;
  text-decoration: underline;
}

body {
  font-family: "Open Sans", Helvetica;
}

form {
  text-align: center;

}

.form-title {
  position: relative;
  padding-top: 20px;
  font-weight: bold;
  padding-bottom: -5px;

}

label {
  display: block;
  padding-top: 15px;
}

label input {
  font-weight: lighter;
  background-color: transparent;
  border: 0;
  border-bottom: 1px solid #5d5d5d;
  color: #000000;
  font-size: 15px;
  outline: 0;
  transition: all 0.3s;
  width: 300px;
}

textarea {
  resize: none;
  font-weight: lighter;
  background-color: transparent;
  border: 0;
  border-bottom: 1px solid #5d5d5d;
  color: #000000;
  font-size: 15px;
  outline: 0;
  transition: all 0.3s;
  width: 300px;

}

.label-text{
  font-size: 12px;
  color: #5d5d5d;
}

label input:focus {
  max-width: 100%;
  width: 325px;
}

textarea:focus{
  max-width: 100%;
  width: 325px;
}

.form-errors {
  padding-top: 10px;
  color:red;
}

::-webkit-input-placeholder { color: #5d5d5d; }
::-moz-placeholder { color:#f00; } /* firefox 19+ */
:-ms-input-placeholder { color:#f00; } /* ie */
input:-moz-placeholder { color: #5d5d5d; }
